.page-header {
  background-color: $primary-white-color;
  margin-bottom: 0%;
}
.portfolio-header {
  border-bottom: 1px solid $color-header-border;
}
.button-dropdown,
.dropdown-close-btn {
  background-color: transparent;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.dropdown-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.dropdown-menu {
  background-color: $primary-white-color;
  // max-width: 480px;
  height: 100vh;
  width: 100vw;
  padding: 48px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 23;

  transition: transform 500ms linear;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.dropdown-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.dropdown-menu-nav,
.dropdown-menu-contacts,
.dropdown-menu-social-links {
  @extend %list;
}
.dropdown-menu-nav__link,
.dropdown-menu-contacts__link,
.dropdown-menu-social-links__link {
  @extend %link;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
}
.dropdown-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $title-text-color;
}
.dropdown-menu-nav__item:not(:last-child) {
  margin-bottom: 35px;
}
.dropdown-menu-nav__link {
  color: $title-text-color;
  &.current {
    color: $accent-color;
  }
}

.dropdown-menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &.tel {
    font-size: 34px;
    line-height: 1.176;
    color: $accent-color;
  }
}
.dropdown-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.dropdown-menu-social-links {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  margin-left: -10px;
  margin-right: -10px;
  color: $accent-color;

  @media screen and(min-width:320px) {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-left: -10px;
    margin-right: -10px;
    color: $accent-color;
  }
}
.dropdown-menu-social-links__link {
  color: $accent-color;
}
.dropdown-menu-social-links__item {
  padding: 0 10px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.dropdown-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin: auto;
  height: 100%;
}
