.footer-social-list__caption {
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and(min-width: $desktop) {
    text-align: left;
  }
}
.footer-social-list {
  text-align: center;
  margin-bottom: 60px;

  @media screen and(min-width: $desktop) {
    margin-left: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer-content {
  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;
}
