.section__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.171;
  text-align: center;
  color: $title-text-color;
  margin-top: 0%;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: $section-title-size;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.section-title-hidden {
  @extend %visually-hidden;
}
